/* 
--accent-color: #757575;
--title-color:#212121;
--contacts-footer-color: rgb(255, 255, 255, 0.6);
--footer-bgc-color: #2f303a;
--white-text-color: #ffffff;
--logo-primary-color: #000000;
--active-color:#2196f3;
--card-border-color:#EEEEEE;

font-family: 'Raleway',   sans-serif;
font-family: 'Roboto', sans-serif;

*/
:root {
  --accent-color: #757575;
  --title-color: #212121;
  --contacts-footer-color: rgb(255, 255, 255, 0.6);
  --footer-bgc-color: #2f303a;
  --white-text-color: #ffffff;
  --logo-primary-color: #000000;
  --active-color: #2196f3;
  --header-border-color: #ececec;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-border-radius: 0px 0px 4px 4px;
  --card-border-color: #eeeeee;
  --hero--bgc-color: #c4c4c4;
  --hero-overline-color: rgba(47, 48, 58, 0.4);
  --work-overline-color: rgba(47, 48, 58, 0.8);
  --primari-bkg-color: #f5f4fa;
  --svg-accent-color: #afb1b8;
  --footer-social-bkg: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --portofolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --portofolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --modal-bkg-color: rgba(0, 0, 0, 0.2);
  --modal-btn-color: rgba(0, 0, 0, 0.1);
  --portofolio-overlay-bkg: rgba(33, 150, 243, 0.9);
  /* form var */
  --border-footer-form-color: rgba(255, 255, 255, 0.3);
  --footer-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-border-input: 1px solid rgba(33, 33, 33, 0.2);
}
/* tag configuration */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header section */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
/* logo section */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-color);
}

.logo-name {
  color: var(--logo-primary-color);
}
.logo:hover,
.logo:focus {
  color: var(--active-color);
}

/* nav menu section */
.pagination {
  display: flex;
  margin-left: 93px;
}

.pagination .item + .item {
  margin-left: 50px;
}
.pagination .link {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination .link:hover,
.pagination .link:focus {
  color: var(--active-color);
}
.pagination .link.current {
  color: var(--active-color);
}
.pagination .link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--active-color);
  border-radius: 2px;
}
/* contacts section */
.contacts {
  display: flex;
  align-items: center;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--active-color);
}

.mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.phone-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}
/* main section */

/* hero section */
.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero--bgc-color);
  background-image: linear-gradient(
      to right,
      var(--hero-overline-color),
      var(--hero-overline-color)
    ),
    url('../images/teams.jpg');
}
.hero .title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  /* text-align: center; */
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}

/* button section */
.btn {
  cursor: pointer;
}
.hero .btn {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--active-color);
}
/* main text */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.nottop {
  padding-top: 0;
}
.section .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
}
.section .subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  color: var(--title-color);
}
.section .subtitle.teams {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section .text {
  font-size: 16px;
  line-height: 1.19;
}
.hero .title,
.featurse .subtitle {
  text-transform: uppercase;
}

/* soft skills */

.featurse .subtitle {
  margin-bottom: 10px;
}

.container .featurse {
  display: flex;
  margin-left: -30px;
}

.featurse .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.featurse-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--primari-bkg-color);
  color: var(--title-color);
}
.featurse-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

/*our work section */
.container .work-list {
  display: flex;
  margin-left: -30px;
}
.work-list .item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.container.work .title {
  margin-bottom: 50px;
}

.description-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
  background-color: var(--hero-overline-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}
/* teams section */
.section.teams {
  background-color: var(--primari-bkg-color);
}
.container.teams .title {
  margin-bottom: 50px;
}
.container .teams-list {
  display: flex;
  margin-left: -30px;
}

.teams-list .item {
  background-color: var(--white-text-color);
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.card-content {
  text-align: center;
  padding: 30px 0;
}
.teams-list .card {
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
}
.subtitle.teams {
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  max-width: 44px;
  max-height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: var(--svg-accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
  color: var(--white-text-color);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* footer section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

/* clients section */

.clients .title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-accent-color);
  border: 1px solid var(--svg-accent-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  box-shadow: none;
  border-color: var(--active-color);
  color: var(--active-color);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/* footer left part */
.footer .logo {
  color: var(--active-color);
}
.logo.name {
  color: var(--white-text-color);
}
.footer-logo {
  margin-bottom: 20px;
}
/* address section */
.address {
  margin-bottom: 9px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  color: var(--white-text-color);
}
.footer .link {
  color: var(--contacts-footer-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--active-color);
}
.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}
/* footer right part */
.right-part {
  margin-left: 70px;
}
.right-part > .text {
  font-weight: 700;
  line-height: 1.15;
  padding-top: 10px;
  margin-bottom: 20px;
  color: var(--white-text-color);
  text-transform: uppercase;
}
.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
}
.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;
  color: var(--white-text-color);
  background-color: var(--footer-social-bkg);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--active-color);
  box-shadow: none;
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
/* footer form subscribe*/
.form-footer {
  position: relative;

  margin-left: 93px;
  width: 570px;
  color: var(--white-text-color);
}
.form-footer-item {
  display: flex;
  flex-direction: column;
}
.form-footer-label {
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-form-input {
  width: 358px;
  padding: 15px 0 15px 15px;
  background-color: var(--footer-bgc-color);
  border: 1px solid var(--border-footer-form-color);
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}
.footer-form-input:focus {
  outline: none;
  border-color: var(--active-color);
}
.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contacts-footer-color);
}

.form-footer-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--active-color);
  color: var(--white-text-color);
  box-shadow: var(--footer-btn-shadow);

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.footer-form-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}
/* portofolio section */
.portofolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* portofolio button */
.portofolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portofolio-item:not(:last-child) {
  margin-right: 10px;
}
.portofolio-section .btn {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--teams-bkg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-section .btn:hover,
.portofolio-section .btn:focus {
  box-shadow: var(--portofolio-btn-shadow);
  color: var(--white-text-color);
  background-color: var(--active-color);
}
.portofolio-section .title {
  margin-bottom: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portofolio-section .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color);
}
/* portofolio content section */
.portofolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portofolio-item-page {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.portofolio-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  background-color: var(--portofolio-overlay-bkg);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portofolio-card-content {
  padding: 20px 24px;
  text-align: start;
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
}
.portofolio-item-page:hover .portofolio-text-overlay,
.portofolio-item-page:hover {
  box-shadow: var(--portofolio-card-shadow);
  transform: translateY(0);
}
/* modal section */

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bkg-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: var(--white-text-color);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-btn-color);
  background-color: var(--white-text-color);
}
.modal-btn:hover .closed-icon {
  fill: var(--active-color);
}
.closed-icon {
  position: absolute;
  width: 11px;
  height: 11px;
  color: var(--logo-primary-color);
}

/* modal content */
.form-modal {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: var(--title-color);
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.form-modal-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
}
.form-modal-item.commit {
  margin-bottom: 20px;
}
.modal-textarea {
  resize: none;
  height: 120px;
  border-radius: 4px;
  padding: 12px;
  border: var(--modal-border-input);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

.form-modal-input {
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  border: var(--modal-border-input);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-item:focus-within > .modal-textarea,
.form-modal-item:focus-within > .form-modal-input,
.form-modal-item:focus-within > .form-icon {
  fill: var(--active-color);
  outline: none;
  border-color: var(--active-color);
}
/* checkbox */

.form-modal-checkbox {
  margin-bottom: 30px;
}
.form-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  position: absolute;
  left: 52px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--logo-primary-color);
  border-radius: 4px;
  background-color: var(--white-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-checkbox:checked + .checkbox-text .checkbox-icon {
  border-color: transparent;
  background-image: url('../images/icon_check.svg');
  background-size: contain;
  background-origin: border-box;
  background-color: var(--active-color);
}
.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  color: var(--accent-color);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--active-color);
}
.form-modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 55px;
  border-radius: 4px;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--active-color);
  cursor: pointer;
}
